@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary1: #262473;
  --primary2: #034c8c18;
  --primary3: #5faad9;
  --primary4: #f2e205;
  --primary5: #f2a057;
  --black: #000;
  --white: #fff;
}
body {
  background: var(--primary3);
  font-family: 'Poppins', sans-serif;
}

.btn-toggle {
  background: transparent;
  border: none;
  font-size: 2rem;
}
